/**
 * Edited by yoosan .
   You can play it on yoosan.me/2048.html
 */

body{
    background-color: #8B8B7A;
    padding-top: 50px;
    padding-bottom: 100px;
}
header{
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}

header h1{
    font-family:Arial;
    font-size: 80px;
    font-weight:bold;
    margin:10px auto;
}
.title{
    width: 300px;
    color: #B03060;
}

header #newgamebutton{
    display:block;
    margin:10px auto;

    width:120px;
    padding:10px 10px;
    background-color:#8f7a66;

    font-family:Arial;
    font-size: 20px;
    color: #B03060;

    border-radius:10px;
    text-decoration:none;
}
header #newgamebutton:hover{
    background-color:#9f8b77;
}
.score{

    width: 200px;
    border-radius: 10px;
    background-color: #8f7a66;
    font-family:Arial;
    font-size: 35px;
    margin:30px auto;
    color: #A2CD5A;
}

#grid-container{
    width:460px;
    height:460px;
    padding:20px;

    margin:10px auto;
    background-color:#bbada0;

    border-radius: 10px;
    position: relative;
}

.grid-cell{
    width:100px;
    height:100px;
    border-radius: 6px;
    background-color:#ccc0b3;

    position: absolute;
}

.number-cell{
    border-radius: 6px;

    font-family: Arial;
    font-weight:bold;
    font-size:60px;
    line-height:100px;
    text-align:center;

    position:absolute;
}