body{
  padding-top: 30px;
  background-color: #3B3B3B;
}

.info{
  padding-top: 20px;
}

a:link{
  text-decoration:none;
  color: #BF3EFF;
}
a:visited{
  text-decoration:none;
  color: #BF3EFF;
}
a:hover{
  text-decoration:none;
  color: #ffffff;
}

.info p{
  margin-top: 80px;
  text-align: center;
  color: #BF3EFF;
  font-size: 5em;
  font-family: Verdana;
}
hr.divider{
  margin-left: 80px;
  margin-right: 80px;
  background-color: blue;
  border:0;
  height: 1px;
}

#container{
    height: 15em;
    display: block;
    color: green;
    position: relative;
    z-index: 10;
}
#container .icon{
    width: 120px;
    height: 120px;
    margin: 50px auto 20px auto;
    line-height: 120px;
    text-align: center;
    color: #BF3EFF;
    border: 2px solid #BF3EFF;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    font-size: 32px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
#contariner .icon i{
  text-align: center;
  line-height: 120px;
}
#container .icon:hover{
    background: #BF3EFF;
    color: #ffffff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.nameinfo{
  margin-bottom: 30px;
}
.nameinfo h1{
  text-align: center;
  color: #BF3EFF;
  font-size: 40px;
  font-family: Verdana;
}
.nameinfo h2{
  text-align: center;
  color: #BF3EFF;
  font-size: 1em;
  font-family: Verdana;
}
.infosum h2{
  margin-top: 20px;
  margin-left: 150px;
  color: #BF3EFF;
  font-size: 25px;
  font-family: Verdana;
}
.infosum p{
  margin: 3px 0px 0px 0px;
  color: #BF3EFF;
  font-size: 1em;
}
.infosum .year p{
  margin-top: 3px;
  margin-left: 150px;
  margin-right: 20px;
  color: #BF3EFF;
  font-size: 1em;
}
.infosum h3{
  position: relative;
  margin-top: 2px;
  margin-left: inherit;
  color: #BF3EFF;
  font-size: 1em;
  font-family: Verdana;
}