body{
  padding-top: 30px;
  background-color: #8B8B7A;
}

.info{
  padding-top: 20px;
}

a:link{
  text-decoration:none;
  color: #9400d3;
}
a:visited{
  text-decoration:none;
  color: #9400d3;
}
a:hover{
  text-decoration:none;
  color: #ffffff;
}

.info p{
  margin-top: 80px;
  text-align: center;
  color: #9400d3;
  font-size: 5em;
  font-family: Verdana;
}
.divider{
  margin: auto 5%;
  background-color: blue;
  border:0;
  height: 1px;
}

#container{
    margin: 0px auto;
    height: 15em;
    display: block;
    color: green;
    position: relative;
    z-index: 10;
}
#container .icon{
    width: 120px;
    height: 120px;
    margin: 50px auto 20px auto;
    line-height: 120px;
    text-align: center;
    color: #9400d3;
    border: 2px solid #9400d3;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    font-size: 32px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
#contariner .icon i{
  text-align: center;
  line-height: 120px;
}
#container .icon:hover{
    background: #9400d3;
    color: #ffffff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.project{
  position: relative;
  margin: 50px auto;
  width: 210px;
  height: 160px;
  background-color: rgba(215,215,215,0.2);
  border-radius: 15px;
}

.project p{
  text-align: center;
  left: 10px;
  top: 10px;
  font-family: Verdana;
  font-size: 25px;
  color: #D2691E;
}

.title{
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}
.title a{
  font-size: 30px;
}
#boxhr{
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  height: 1px;
  background-color: blue; 
}


